<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photosender">

    <!-- مجوز اینترنت -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- مجوز دسترسی به فایل برای اندروید ۱۲ و پایین‌تر -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- مجوز دسترسی به عکس‌ها برای اندروید ۱۳ به بالا -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/file_000000007b0871f484d70901090b5c63"
        android:roundIcon="@drawable/file_000000007b0871f484d70901090b5c63"
        android:label="starlink"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
